// Config for typical SLURM cluster
// Adjust the parameters for your cluster - queue name, temp dir, etc.
// Use your temp space instead of /data/$USER in the following config
includeConfig "./process_resources.config"
singularity {
    enabled = true
    autoMounts = true
    cacheDir = "/scratch/users/vitrem/conf_egapx/"
    envWhitelist='https_proxy,http_proxy,ftp_proxy,DISPLAY,SLURM_JOB_ID,SINGULARITY_BINDPATH'
}

env {
    SINGULARITY_CACHEDIR="/scratch/users/vitrem/conf_egapx/singularity"
    SINGULARITY_TMPDIR="/scratch/users/vitrem/conf_egapx/tmp"

    // These must remain disabled except for real debugging
    //DEBUG_STACK_TRACE_LEVEL="Warning"
    //EXCEPTION_STACK_TRACE_LEVEL="Warning"
    //DIAG_POST_LEVEL="Trace"
    //#DEBUG_CATCH_UNHANDLED_EXCEPTIONS="0"
}

process {
    executor = 'slurm'
    // Set other parameters specific to your cluser here
    // maxRetries = 1
    queue = 'cpu-dedicated'
    // queueSize = 200
    // pollInterval = '2 min'
    // queueStatInterval = '5 min'
    // submitRateLimit = '6/1min'
    // retry.maxAttempts = 1

    clusterOptions = '--mem=120GB -p cpu-dedicated -A dedicated-cpu@cirad-normal --time=48:00:00'

    // scratch = '/lscratch/$SLURM_JOB_ID'
    // with the default stageIn and stageOut settings using scratch can
    // result in humungous work folders
    // see https://github.com/nextflow-io/nextflow/issues/961 and
    //     https://www.nextflow.io/docs/latest/process.html?highlight=stageinmode
    //stageInMode = 'symlink'
    //stageOutMode = 'rsync'
}

executor {
    queueSize = 200
    //pollInterval = '2 min'
    //queueStatInterval = '5 min'
    //submitRateLimit = '6/1min'
    //retry.maxAttempts = 1
}
